.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skillCategoryTitle {
  color: var(--color-text);
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: fit-content;
}