.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerProfile {
  gap: 14px;
}

.skillCategoryTitle {
  color: var(--color-text);
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;
  max-width: fit-content;
}