.LoginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

/* ---------------------------------------- */
.oAuthButtonsBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.oAuthButton {
  outline: 1px solid var(--color-caption);
  color: var(--color-text);
}

.oAuthButtonIcon {
  width: 24px;
  height: 24px;
}

/* ---------------------------------------- */
.breakWord {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-text);
}

.breakWord::before {
  content: '';
  flex: 1;
  margin-right: 4px;
  border-bottom: 1px solid var(--color-disabled);
}

.breakWord::after {
content: '';
  flex: 1;
  margin-left: 4px;
  border-bottom: 1px solid var(--color-disabled);
}

/* ---------------------------------------- */
.formBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* ---------------------------------------- */
.errorFormMessage {
  margin: 8px 0;
  color: var(--color-error, #ff4d4f);
  font-size: 14px;
  text-align: center;
}

.registerNextButton {
  margin-top: 20px;
}