.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.loginPageTitle {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}


