.notificationsButton {
  display: flex;
  align-items: center;
  width: 24px;
  height: 100%;
  border: none;
  padding: 0;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
}

.notificationsButton:hover {
  color: var(--color-text-link);
}

.notificationsBanner {
  top: 70px;
  right: 0;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 556px;
  height: 616px; /* временная высота */
  padding: 60px;
}