.navList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.navLink {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: var(--radius-button);
  padding: 12px 20px;
  color: var(--color-text);
}

.navLink:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

.isActive {
  background-color: var(--color-button-hover);
}