.gallery {
  display: flex;
  gap: 24px;
}

/* -------------------------- */
.mainImageWrapper {
  position: relative;
  flex-shrink: 0;
  width: 324px;
  height: 324px;
}

.mainImage {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: var(--box-shadow-smooth);
}

/* -------------------------- */
.prev,
.next {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  color: var(--color-caption);
  background: var(--color-disabled);
  transition: background 0.2s;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: var(--color-input);
  background: var(--color-accent);
}

.prev {
  left: 16px;
}

.next {
  right: 16px;
}

/* -------------------------- */
.thumbnailsWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  width: 92px;
}

/* -------------------------- */
.thumb {
  position: relative;
  flex-shrink: 0;
  width: 92px;
  height: 92px;
  margin: 0;
  border: none;
  border-radius: var(--radius-button);
  padding: 0;
  overflow: hidden;
  background: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.thumb:hover {
  box-shadow: var(--box-shadow-smooth);
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------- */
.moreOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-weight: bold;
  font-size: 20px;
  background: var(--color-input);
  pointer-events: none;
}

.count {
  position: absolute;
  top: 42%;
  right: 42%;
  color: var(--color-text);
}