.sliderMainContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.slidesContainer {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 1%,
    black 99%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 1%,
    black 99%,
    transparent 100%
  );
}

.sliderButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  box-shadow: var(--box-shadow-light);
  color: var(--color-caption);
  background-color: var(--color-disabled);
  transition: all 0.2s;
  transform: translateY(-50%);
  cursor: pointer;
}

.sliderButton:hover {
  border-color: var(--color-accent);
  color: var(--color-input);
  background-color: var(--color-accent);
}

.sliderButtonLeft {
  left: -20px;
}

.sliderButtonRight {
  right: -20px;
}

@media (max-width: 768px) {
  .sliderButton {
    display: none;
  }
}