.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
}

.categoryBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryLabel {
  display: flex;
  flex: 1;
  align-items: center;
  color: var(--color-text);
  text-align: start;
  cursor: pointer;
}

.categoryLabel:hover {
  color: var(--color-text-link);
}

.expandButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 0;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
}

.expandButton:hover {
  background: none;
}

.subcategoriesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0 0 40px;
}

.subcategoryBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subcategoryLabel {
  display: flex;
  align-items: center;
  color: var(--color-text);
  cursor: pointer;
}

.subcategoryLabel:hover {
  color: var(--color-text-link);
}

.showAllButton {
  color: var(--color-text-link);
  justify-content: flex-start;
}