.hint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 436px;
  max-width: 556px;
  min-height: 692px;
  border-radius: var(--radius-button);
  padding: 60px;
  background-color: var(--color-input);
}

.image {
  width: 300px;
  height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  gap: 12px;
  max-width: 436px;
  color: var(--color-text);
  text-align: center;
}