.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-overlay);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 30vw;
  border-radius: var(--radius-button);
  padding: 40px;
  box-shadow: var(--box-shadow-smooth);
  background: var(--color-input);
}