/* -------- ROBOTO -------- */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-VariableFont.woff2')
      format('woff2-variations');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

/* -------- JOST -------- */
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-VariableFont.woff2')
      format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

/* -------- OPEN SANS -------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont.woff2')
      format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}