body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-family-base), sans-serif;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}

.checkbox {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid var(--color-text);
  border-radius: var(--radius-checkbox);
  padding: 0;
  transition: all 0.2s;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.checkbox:checked {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox:indeterminate {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.checkbox:indeterminate::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
}


/* ------- ЦВЕТА ------- */
.languages {
  background-color: var(--color-tag-english);
}

.business {
  background-color: var(--color-tag-business);
}

.creativity {
  background-color: var(--color-tag-creativity);
}

.education {
  background-color: var(--color-tag-education);
}

.home {
  background-color: var(--color-tag-home);
}

.health {
  background-color: var(--color-tag-health);
}

.plus {
  background-color: var(--color-tag-plus);
}