.offerPageContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1400px;
  margin: 0 auto;
}

.offerSection {
  display: flex;
  gap: 24px;
}

.offerDetailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  min-height: 444px;
  border-radius: var(--radius-button);
  padding: 24px 52px 40px 52px;
  box-shadow: var(--box-shadow-light);
  background-color: var(--color-input);
}




.socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.offersSimilar {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
}

.offerSimilarTitle {
  margin-bottom: 0;
  color: var(--color-text);
}

.cardWrapper {
  display: flex;
  flex-shrink: 0;
  min-width: 325px;
  min-height: 368px;
}

.cardWrapper > *:hover {
  box-shadow: var(--box-shadow);
}

.noResults {
  padding: 48px;
  color: var(--color-caption);
  text-align: center;
}