.offerPageContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.offerSection {
  display: flex;
  gap: 24px;
}

.offersSimilar {
  display: flex;
  overflow: hidden;
  width: 100%;
}