.pageContainer {
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
  height: 100vh;
  background-color: var(--color-bg);
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 384px;
  border-radius: var(--radius-button);
  background-color: aquamarine;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  width: 1020px;
}