.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.userInfo:hover .userName {
  color: var(--color-text-link);
}

.userName {
  display: block;
  color: var(--color-text);
}

.userAvatarBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
}

.userAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow-smooth);
}

.profileBanner {
  top: 70px;
  right: 0;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 260px;
  padding: 40px;
}