.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 48px;
  border: none;
  border-radius: var(--radius-button);
  padding: 12px 24px;
  color: var(--color-text);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:active {
  background-color: var(--color-accent);
}

.base {
  color: var(--color-text);
  background-color: var(--color-input);
}

.prime {
  background-color: var(--color-accent);
}

.outline {
  outline: 1px solid var(--color-accent);
  background-color: transparent;
}

.outline:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.link {
  gap: 4px;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

.link:hover {
  color: var(--color-text-link);
  background-color: transparent;
}

.link:focus-visible {
  outline-offset: 5px;
}

.custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  all: unset;
}

.fullWidth {
  width: 100%;
}

.loading {
  position: relative;
  opacity: 0.8;
  cursor: wait;
}

.loadingItem {
  display: flex;
  width: 16px;
  height: 16px;
  border: 2px solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
}

.button:disabled {
  border-color: var(--color-disabled-text);
  opacity: 0.6;
  color: var(--color-disabled-text);
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}