.searchInputContainer {
  display: flex;
  width: 100%;
  /* max-width: 527px; */
}

.searchInput {
  border: none;
  min-height: 48px;
  border-radius: var(--radius-button);
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 527px;
}

.searchInput:focus {
  outline: 1px solid var(--color-accent);
  transition: auto;
}