.searchInputContainer {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 300px;
}

.searchInput {
  outline: none;
}

.searchInput:focus {
  outline: 2px solid var(--color-accent);
  transition: auto;
}