.userOfferModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 4px 20px 32px;
  color: var(--color-text);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}