.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-width: 222px;
  text-align: center;
}

.navLink {
  color: var(--color-text);
  line-height: var(--line-height-xs);
  text-decoration: none;
}

.navLink:hover {
  color: var(--color-text-link);
}

.navButton {
  display: flex;
  line-height: var(--line-height-xs);
}

/* .dropdown {
  display: flex;
} */