.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-width: 222px;
  text-align: center;
}

.navLink {
  color: var(--color-text);
  line-height: var(--line-height-xs);
}

.navLink:hover {
  color: var(--color-text-link);
}

.navButton {
  display: flex;
  line-height: var(--line-height-xs);
}

.skillsBanner {
  top: 70px;
  left: -190px;
  padding: 60px;
}