.togglerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: transform ease;
  cursor: pointer;
}

.togglerButton:hover {
  color: var(--color-text-link);
}

/* .togglerButton:hover {
  transform: var(--scale-up);
} */

/* .togglerButton:active {
  transform: var(--scale-down);
} */