.togglerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: transform ease;
  cursor: pointer;
}

.togglerButton:hover {
  transform: var(--scale-up);
}

.togglerButton:active {
  transform: var(--scale-down);
}