.section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-bottom: 40px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.sectionTitle {
  color: var(--color-text);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 1020px;
}