.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.label {
  margin-left: 4px;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xs);
}

.required {
  color: var(--color-error);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  border-radius: 8px;
  outline: 1px solid var(--color-toggle);
  outline: none;
  color: var(--color-text);
  font-family: var(--font-family-base);
  background-color: var(--color-input);
}

.input::placeholder {
  color: var(--color-caption);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing-s);
}

.input:focus::placeholder {
  opacity: 0;
}

.input.error {
  outline-color: var(--color-error);
}

.input.error:focus {
  box-shadow: 0 0 0 3px rgba(191, 57, 32, 0.2);
}

.input:disabled {
  outline-color: var(--color-disabled-text);
  color: var(--color-disabled-text);
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.input:disabled::placeholder {
  color: var(--color-disabled-text);
}

.withLeftIcon {
  padding: 0 20px 0 50px;
}

.withRightIcon {
  padding-right: 36px;
}

.leftIcon {
  position: absolute;
  left: 12px;
  z-index: 1;
  display: flex;
  align-items: center;
  color: var(--color-toggle);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.leftIcon.hidden {
  opacity: 0;
  display: none;
}

.rightIcon {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  color: var(--color-toggle);
}

.rightIcon button {
  cursor: pointer;
  pointer-events: auto;
}

.input.leftIconHidden {
  padding: 0 20px 0 16px;
}

.errorMessage {
  margin-left: 4px;
  color: var(--color-error);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
}

.helper {
  margin-left: 4px;
  color: var(--color-caption);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/icons/cross.svg');
  background-size: contain;
  cursor: pointer;
  background-color: var(--color-button-hover);
  border-radius: var(--radius-button);
  opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
}
