.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.registerPageSteps {
  display: flex;
}

.registerPageMain {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}