.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: var(--radius-button);
  padding: 60px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-input);
}