.favouritesPage {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.emptyState {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: var(--radius-button);
  padding: 60px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-input);
}

.emptyStateContent {
  display: flex;
  flex-direction: column;
}

.emptyStateButton {
  max-width: 50%;
}

.favouritesGrid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favouriteOfferWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: var(--radius-button);
  padding: 30px 30px 35px;
  box-shadow: var(--box-shadow-light);
  background-color: var(--color-input);
}

.header {
  display: flex;
  justify-content: space-between;
}

.userBio {
  display: flex;
  gap: 16px;
}

.avatarBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  aspect-ratio: 1 / 1;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.socials {
  display: flex;
  gap: 16px;
}