.tag {
  display: flex;
  gap: 0;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  box-shadow: inset var(--box-shadow);
  background-color: var(--color-input);
  cursor: pointer;
}

.tag:hover {
  box-shadow: var(--box-shadow-inset);
  transition: all 0.2s ease;
}