.tag {
  display: flex;
  gap: 0;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  box-shadow: inset var(--box-shadow);
  background-color: var(--color-input);
  cursor: pointer;
}

.tag:hover {
  box-shadow: var(--box-shadow-inset);
  transition: all 0.2s ease;
}

.business {
  background-color: var(--color-tag-business);
}

.creativity {
  background-color: var(--color-tag-creativity);
}

.languages {
  background-color: var(--color-tag-english);
}

.education {
  background-color: var(--color-tag-education);
}

.home {
  background-color: var(--color-tag-home);
}

.health {
  background-color: var(--color-tag-health);
}