.offerDetailsContainer {
  display: flex;
  justify-content: space-between;
  gap: 77px;
  width: 100%;
}

.offerDetailsContainerModal {
  gap: 44px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 399px;
}

/* ------------------------------- */
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: var(--color-text);
}

.tags {
  color: var(--color-caption);
}

/* ------------------------------- */
.description {
  color: var(--color-text);
}

/* ------------------------------- */
.buttonsBox{
  display: flex;
  gap: 12px;
}

.buttonsBoxOfferPage {
  padding-top: 8px;
}

/* ------------------------------- */
.offerDetailsGallery {
  display: flex;align-items: center;
}