.container {
  display: flex;
}

.profileSection {
  position: relative;
  display: flex;
  gap: 26px;
}

.iconsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.favouritesButton {
  display: flex;
  align-items: center;
  width: 24px;
  height: 100%;
  padding: 0;
  color: var(--color-text);
}

.favouritesButton:hover {
  color: var(--color-text-link);
}

.authBox {
  display: flex;
  gap: 32px;
}