.container {
  display: flex;
}

.iconsBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favouritesButton {
  display: flex;
}

.heartIcon {
  display: flex;
}

.authBox {
  display: flex;
  gap: 8px;
}

.loginButton {
  display: flex;
  background-color: var(--color-input);
}

.registerButton {
  display: flex;
}