.likeButton {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 24px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.likeButton:hover {
  transform: var(--scale-up);
}

.likeButton:active {
  transform: var(--scale-down);
}

.likeIcon {
  display: block;
  width: 24px;
  height: 24px;
}