.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-width: min-content;
  max-width: 498px;
  border-radius: var(--radius-button);
  padding: 20px;
  box-shadow: var(--box-shadow-light);
  background-color: var(--color-input);
}

.container:hover {
  cursor: pointer;
}
/* ============ CATALOG-CARD ============ */

.header {
  display: flex;
  justify-content: space-between;
}

.userBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

/* ------------ IMAGE */
.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow-smooth);
}

/* ------------  INFO */
.userInfoBox {
  display: flex;
  flex-direction: column;
}

.userName {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
  letter-spacing: var(--letter-spacing-xs);
  text-transform: capitalize;
  word-wrap: normal;
}

/* ------------ BIO */
.bio {
  color: var(--color-text);
  line-height: 16px;
  letter-spacing: 2%;
}

/* ------------ SKILLS */
.skillsBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* ============ PROFILE-CARD ============ */

/* ------------ LIKE */
.likeButtonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .description {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  letter-spacing: 2%;
  text-align: start;
} */