/* ----------------- header  */
.authButtonsBoxHeader {
  display: flex;
  gap: 8px;
}

.loginButtonHeader {
  display: flex;
  background-color: var(--color-input);
}

.registerButtonHeader {
  display: flex;
}

/* ----------------- form  */
.authButtonsBoxForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
}